# {{practice:name}} ({{practice:shortName}}{{maturity:number}})

<sup>{{practice-level:objective}}</sup>

## Activities

### Stream {{stream-a:letter}} : {{stream-a:name}}
<b>Benefit</b>: <i>{{activity-a:benefit}}</i>

{{activity-a:longDescription}}


### Stream {{stream-b:letter}} : {{stream-b:name}}
<b>Benefit</b>: <i>{{activity-b:benefit}}</i>

{{activity-b:longDescription}}

